# Ignore Mac system files
.DS_store

# R user files
.Rhistory
.Rproj.user
.RData

# Data files 
*.txt
*.rds

# eprime data files
1_SIGT_PP/Data/0_Raw/z_Rawest_Data/

# clinical measures (includes dates, etc)
1_SIGT_PP/Data/0_Raw/*.sav
1_SIGT_PP/Data/0_Raw/z_FinalizedData 1st Paper/*.sav

# the Notes folder
1_SIGT_PP/z.Notes/ 

# Ignore some of Jerem'ys folders
dead_end_models/
Manuscript/
1_IGT_PP/Code/R/2_Plotting/group_PPCs_joint_indMu.Rmd
1_IGT_PP/Code/Stan/simple_IRT.stan
1_IGT_PP/Data/2_Fitted/IRT/
1_IGT_PP/Code/R/1_Analyses/Full_PANAS_simple_IRT.Rmd
1_IGT_PP/Code/R/1_Analyses/NA_PANAS_simple_IRT.Rmd
1_IGT_PP/Code/R/1_Analyses/PA_PANAS_simple_IRT.Rmd
1_IGT_PP/Code/R/2_Plotting/posterior_predictive_checks_joint_indMu.Rmd
1_IGT_PP/Code/R/1_Analyses/fitting_orl_joint_indMu.Rmd

# 
Icon?

# Ignore plots
*.tiff