# Ignore Mac system files
.DS_store

# R user files
.Rhistory
.Rproj.user
.RData

# Data files 
*.txt
1_IGT_PP/Data/1_Preprocessed/*.rds
1_IGT_PP/Data/2_Fitted/*.rds
1_SIGT_PP/Data/1_Preprocessed/*.rds
1_SIGT_PP/Data/2_Fitted/*.rds

# eprime data files
1_SIGT_PP/Data/0_Raw/z_Rawest_Data/

# clinical measures (includes dates, etc)
1_SIGT_PP/Data/0_Raw/*.sav
1_SIGT_PP/Data/0_Raw/z_FinalizedData 1st Paper/*.sav

# the Notes folder
/Users/tuo09169/Dropbox/1_Comp_Modelling/1_IGT_PlayPass/IGT_PP_Shared/1_SIGT_PP/z.Notes/ 

# 1_IGT_PP folder
1_IGT_PP/Manuscript/

# 
Icon?
